.quiz-matcard{
  margin: 0.5%;
  padding: 0.5%;
  float: left;
  display: inline;
  width: 18%;
  max-height: 18%;
  opacity: 0.7;
}

.scrollable{
  overflow: auto;
  position: absolute;
  width: 100%;
  max-height: 93%;
}

.search{
  opacity: 0.7;
  margin: 1%;
  background: rgb(67, 123, 179);
}

.loading{
  opacity: 0.7;
  width: 18%;
  margin: 1%;
  background: rgb(67, 123, 179);
}
