<mat-card class="displayQuiz">
  <div>
    <mat-card-title>Quiz Title: {{quiz.title}}</mat-card-title>
  </div>

  <div *ngFor="let question of quiz.questions">
    <h3>{{question.title}}</h3>

    <div *ngFor="let option of question.options; let i = index">
      <mat-chip-list>
        <mat-chip (click)="correctAnswer(question, option, $event)">{{option.answer}}</mat-chip>
      </mat-chip-list>
    </div>


  </div>
  <h4>You got {{correct}} correct answers out of {{quiz.questions.length}}</h4>
  <h4>Please rate the quiz:</h4>
  <label class="rating" style="color: red"><input type="radio" name="rating" (click)="clickRating(1)">This quiz sucks!</label>
  <br>
  <label class="rating" style="color: orange"><input type="radio" name="rating" (click)="clickRating(2)">Kind of bad</label>
  <br>
  <label class="rating" style="color: yellow"><input type="radio" name="rating" (click)="clickRating(3)">Hmmm</label>
  <br>
  <label class="rating" style="color: lightgreen"><input type="radio" name="rating" (click)="clickRating(4)">Great quiz</label>
  <br>
  <label class="rating" style="color: blue"><input type="radio" name="rating" (click)="clickRating(5)">Best quiz ever!</label>
  <br>
</mat-card>