.displayQuiz{
    margin: 0.5%;
    padding: 0.5%;
    float: left;
    display: inline;
    width: 98%;
    opacity: 0.7;
    max-height: 89%;
    background: rgb(67, 123, 179);
}

.correct-answer{
    background: green
}

.wrong-answer{
    background: red
}

.rating{
    font-weight: bold
}

.scrollable{
    overflow: auto;
    position: absolute;
  }