<mat-card class="quiz">
    <mat-card-title>
      <img (click)="editQuiz()" class="edit" src="../../assets/edit.png">
      <h2>{{quizInput.title}}</h2>
    </mat-card-title>
  <mat-card-content>
    <h3>Number of questions: {{quizInput.questions.length}}</h3>
    <h3>Rate: {{quizInput.avrRating | number : '.1-1'}}/5.0</h3>
  </mat-card-content>
  <mat-card-actions class="quizBtn">
    <button mat-fab (click)="clickedQuiz()">Start</button>
    <button mat-fab color="warn" class="delBtn" (click)="deleteQuiz()">Delete</button>
  </mat-card-actions>

</mat-card>
