<form [formGroup]="editQuiz">
  <mat-card class="editQuizCard">
    <div class="editQuiz">
      <div>Quiz ID: <span>{{quiz._id}}</span></div>
      <mat-form-field>
        <input id="quizTitle" matInput placeholder="Quiz Title" formControlName="title">
      </mat-form-field>
    </div>

    <div>
      <button id="newQuestion" type="button" mat-raised-button (click)="createNewQuestion()">New
        Question
      </button>
      <button mat-raised-button class="saveBtn" color="primary" type="submit">Save</button>
    </div>

    <div formArrayName="questions">
      <div *ngFor="let questionControl of editQuiz.controls.questions.controls; let i=index">
        <div class="newQuestion" [formGroupName]="i">
          <mat-form-field>
            <input matInput placeholder="Question" formControlName="title">
          </mat-form-field>

         <div formArrayName="options">
            <div *ngFor="let optionControl of questionControl.get('options').controls; let j=index">
              <div [formGroupName]="j">
                <mat-form-field>
                  <input matInput placeholder="Option" formControlName="answer"
                    value="{{optionControl.answer}}">
                </mat-form-field>
                <mat-checkbox formControlName="correct" value="{{optionControl.correct}}">Correct answer
                </mat-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-card>
</form>