.empty-space{
  flex: 1 1 auto
}

p {
  margin: 10px;
  font-family: "Comic Sans MS";
}

.title{
  height: 45px;
}

#homeBtn{
  width: 135px;
  height: 50px;
}

#worldPic{
  width: 100%;
  height: 93%;
  position: absolute;
  z-index: -20;
}

.logOut{
  height: 30px
}

.logOutBtn{
  height: 30px;
  width: 30px;
}
