.empty-space{
  flex: 1 1 auto
}

.title{
  height: 45px;
}

p {
  margin: 10px;
  font-family: "Comic Sans MS";
}

#homeBtn{
  width: 135px;
  height: 50px;
}

#aboutBtn{
  width: 90px;
  height: 30px;
}

.quizPic{
  position: absolute;
  z-index: -10;
}

#worldPic{
  width: 100%;
  height: 93%;
  position: absolute;
  z-index: -20;
}
