<mat-toolbar color="primary">
  <h1 class="title" routerLink=""><img id="homeBtn" src="../../assets/quiz.png"/></h1>
  <p routerLink="about"><img id="aboutBtn" src="../../assets/about-us.png"/></p>
  <p class="empty-space"></p>
  <p routerLink="login">Login</p>
</mat-toolbar>


<img id="worldPic" src="../../assets/world.png"/>

<img class="quizPic" id="animal" src="../../assets/animals.png" height="359" width="640"/>
<img class="quizPic" id="chemistry" src="../../assets/chemistry.png" height="159" width="300"/>
<img class="quizPic" id="biology" src="../../assets/biology.png" height="225" width="225"/>
<img class="quizPic" id="physic" src="../../assets/physics.png"/>
<img class="quizPic" id="game" src="../../assets/games.png"/>
<img class="quizPic" id="disney" src="../../assets/disney.png"/>
<img class="quizPic" id="kangaroo" src="../../assets/kangaroo.png"/>
<img class="quizPic" id="fish" src="../../assets/fish.png"/>
<router-outlet></router-outlet>
