<form class="registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <h1>Register</h1>

    <div class="register-input">
      <mat-form-field>
        <input id="firstname" matInput placeholder="Firstname" type="text" formControlName="firstname">
        <mat-error *ngIf="!registerForm.controls.firstname.valid && registerForm.controls.firstname.dirty">
          You must fill out your Firstname
        </mat-error>
      </mat-form-field>
    </div>

    <div class="register-input">
      <mat-form-field>
        <input id="lastname" matInput placeholder="Lastname" type="text" formControlName="lastname">
        <mat-error *ngIf="!registerForm.controls.lastname.valid && registerForm.controls.lastname.touched">
          You must fill out your Lastname
        </mat-error>
      </mat-form-field>
    </div>

    <div class="register-input">
      <mat-form-field>
        <input id="birthdate" matInput placeholder="Date of birth" type="date" formControlName="birthdate">
        <mat-error *ngIf="!registerForm.controls.birthdate.valid && registerForm.controls.birthdate.dirty">
          You must enter a valid date
        </mat-error>
      </mat-form-field>
    </div>

    <div class="register-input">
      <mat-form-field>
        <mat-select formControlName="gender" placeholder="Gender">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
        <mat-error *ngIf="!registerForm.controls.gender.valid && registerForm.controls.gender.touched">
          Choose your gender
        </mat-error>
      </mat-form-field>
    </div>

    <div class="register-input">
      <mat-form-field>
        <input id="email" matInput placeholder="Email" type="email" formControlName="email">
        <mat-error *ngIf="!registerForm.controls.email.valid && registerForm.controls.email.dirty">
          Enter a valid email
        </mat-error>
      </mat-form-field>
    </div>

    <div class="register-input">
      <mat-form-field>
        <input id="username" matInput placeholder="Username" type="text" formControlName="username">
        <mat-error *ngIf="!registerForm.controls.username.valid && registerForm.controls.username.pristine">
          You must choose a Username
        </mat-error>
        <mat-error *ngIf="registerForm.controls.username.errors?.minlength">
          Username must be at least 3 characters
        </mat-error>
      </mat-form-field>
    </div>

    <div class="register-input">
      <mat-form-field>
        <input id="password" matInput placeholder="Password" type="text" formControlName="password">
        <mat-error *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.pristine">
          You must choose a Password
        </mat-error>
        <mat-error *ngIf="registerForm.controls.password.errors?.minlength">
          Password must be at least 8 characters
        </mat-error>
      </mat-form-field>
    </div>


    <div>
      <button class="button button-save" type="submit">Save</button>
    </div>
  </div>
</form>